@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  body {
    @apply min-h-screen bg-white text-slate-800;
  }
}

@layer components {
  .site-dark {
    background-color: #07111F;
  }
  .site-dark-2 {
    background-color: #0D1B2E;
  }
}
